@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
	scroll-behavior: smooth;
}

body.dark{
    --body-color: #F4F6F7;
    --second-color: #ECF0F1;
    --third-color: #D0D3D4;
    --fourth-color: #bebfbf;
    --sidebar-color: #FFF;
    --primary-color: #1e1e1e;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #3b3b3b;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: #695CFE;
    color: #fff;
}

:root{
    --body-color: #18191a;
    --second-color: #242424;
    --third-color: #101010;
    --fourth-color: #232323;
    --sidebar-color: #242526;
    --primary-color: #695CFE;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}

.sidebar.close{
    width: 88px;
}

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
	color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
    margin-left: -50px;
    color: #695CFE;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
    margin-left: -50px;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: #695CFE;
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
	color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
	color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
	color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
	color: var(--text-color);
    padding: 12px 60px;
}

.about{
	width: 100%;
	padding: 100px 0px;
    transition: var(--tran-05);
	background-color: var(--second-color);
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}

.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-text h2{
	color: var(--text-color);
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
    color: var(--primary-color);
}
.about-text h5{
	color: var(--text-color);
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: var(--text-color);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
	color: var(--text-color);
}


.contact-me .button-two{
	background-color:#695CFE;
	color: var(--text-color);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #3700ff;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
    background-color: var(--body-color);
    transform: var(--tran-05);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


footer p:nth-child(1){
	font-size: 30px;
    color: var(--primary-color);
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
    color: var(--primary-color);
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #695CFE;
    ;
	border-radius: 50%;
	margin: 22px 10px;
	color: var(--text-color);
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;

	bottom: 35px;
	font-size: 14px; 
}

button a{
	text-decoration: none;
	color: var(--text-color);
	font-weight: bold;
}

.service{
    background-color: var(--third-color);
    transform: var(--tran-05);
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: var(--text-color);
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
    color: var(--primary-color);
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
    background-color: var(--fourth-color);
    transform: var(--tran-05);
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #3700ff;

}
h5{
	color: var(--text-color);
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
		color: var(--text-color);;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#695CFE;
	color: var(--text-color);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #3700ff;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 290px;
    background-color: var(--fourth-color);
    transform: var(--tran-05);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
		color: var(--text-color);
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
    color: var(--primary-color);
}

.about-text p{
		color: var(--text-color);;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#695CFE;
	border: 2px solid transparent;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #3700ff;
	cursor: pointer;
}
button a{
	text-decoration: none;
	color: var(--text-color);
	font-weight: bold;
}

.service{
    background-color: var(--third-color);
    transform: var(--tran-05);
	width: 100%;
	padding: 100px 0px;
}

.content{
	position: absolute;
	top: 40%;
	left: 30%;
	transform: translateY(-50%);
}

.content h3{
    margin-left: 30px
}

.content h1{
    margin-left: 30px;
    color: var(--primary-color);
}

.content h4{
    margin-left: 15px;
    width: 900px;
}

h1{
	color: var(--text-color);
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: var(--text-color);
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: var(--text-color);;
	letter-spacing: 2px;
	font-size: 20px;
	text-align: left;
	width: 750px;
	padding: 20px;
}
.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 12px 130px 14px 15px;
	border: 2px solid #3700ff;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#695CFE;
		color: var(--text-color);
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}


.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.start img{
	height: auto;
	width: 430px;
    left: 100px
}

.hero{
	height: 100vh;
	width: 100%;
	background-image: url(Wallpaper.jpg);
	background-size: cover;
	background-position: center;
    background-color: var(--body-color);
    transition: var(--tran-05);
}